<div class="pg-cover-upload" style="margin-top: 10px;">
  <label class="pg-cover-label">Imagen de portada</label>

  {{upload-selector
    uploadHandler=(action "uploadCoverImage")
    label="Subir imagen"
  }}
</div>
